@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .gradient-nav {
        @apply bg-gradient-to-b from-[lightgreen] to-[beige]
    }

    .gradient-text {
        background-image: linear-gradient(to bottom, lightgreen, green);
        background-clip: text;
        color: transparent;
    }

    .min-h-screeen {
        min-height: calc(100vh - 58px);
    }

    .hover-icon {
        @apply hover:text-lightgreen duration-300 hover:scale-110
    }
}